#map {
  height: 100%;
  top: 20px;
}
html, body {
        height: 80%;
        width: 80%;
        margin: 0;
        padding: 0;
}
form {
  width: 200px;
  display: inline-block;
}
form input {
  font-size: 30px;
  padding: 5px;
  width: 400px;
}

.btn {
  font-size: 20px;
}

.miles {
  border:1px solid black;
}
